%header
  .head-notice チャットグループが作成完了
  = render 'shared/side_bar'
.main
  .main__header
    .main__header__left
      .main__header__left__group-name sample
      .main__header__left__member a aa aaa
    .main__header__edit
      %a{:href => ""} edit
  .main__body
    .main__body__message-list
      .main__body__message-list__message
        .main__body__message-list__message__user-name fuyouA
        .main__body__message-list__message__time 2018/09/13 12:00:00
        .main__body__message-list__message__text aaaaaaaa
        .main__body__message-list__message
        .main__body__message-list__message__user-name fuyouB
        .main__body__message-list__message__time 2018/09/14 12:00:00
        .main__body__message-list__message__text bbbbbbbb
  .main__footer
    %form.main__footer__body
      %input{:placeholder => "type a message", :type => "text", :class => "input"}/
      .image
        = link_to "#" do
          = fa_icon "image"
      %input{:type => "submit", :value => "Send", :class => "submit"}/
